
/* Colors */
$primary_color : #6E32FF;

/* Sidebar CSS */
.navCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    border-right: 1px solid #F6F5FA;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    a {
        display: block;
        width: 100px;
        height: 50px;
        margin: 20px 0;
        text-align: center;
        line-height: 50px;
        border-right: 3px solid transparent;
        color: #B4B2BF;
        font-size: 20px;

        &.active {
            border-right: 3px solid $primary_color;
            color: $primary_color;
        }
    }
}

/* Page CSS */
.pageCont {
    display: flex;
    height: 100vh;
    flex: 2;
}

.sidebarCont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCont {
    display: flex;
    flex: 1;
    padding: 50px 30px;

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        /* border: 1px solid black; */
    }
}

/* Home CSS */

.searchCont {
    display: flex;
    justify-content: center;

    .inputCont {
        min-width: 500px;
        width: 50%;
    }
}



.listCont {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
    margin-top: 50px;
}

.listItem {
    &:nth-child(even) {
        background: #F6F5FA;
    }
    
    &:nth-child(odd) {
        background: #ffffff;
    }

    &:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

::-webkit-scrollbar {display:none;}



.imgPoster {
    padding: 15px 25px;
    
    img {
        width: 40px;
    }
    
}

.imgPoster 
.movieMeta {
    padding: 5px 25px;
}

.movieTitle {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.movieDesc {
    font-size: 10px;
}

.movieData {
    list-style: none;
    font-size: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    color: #707070;

    li {
        display: inline-block;
        margin-right: 25px;
    }
}


/* Gallery CSS */

.headerCont {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-evenly;

    button {
        width: 120px;
        background-color: transparent !important;
        border: 1px solid #B4B2BF !important;
        color: #B4B2BF !important;
    }
}

.headerCont button.active {
    border: 1px solid $primary_color !important;
    color: $primary_color !important;

    &:hover {
        border: 1px solid $primary_color !important;
        color: $primary_color !important;
    }
}
.gridCont {
    padding-top: 10px;
    overflow: scroll;
    width: 90%;
    align-self: center;
}

.cardCont {
    transition: all .2s;
    cursor: pointer;

    &:hover {
        transform: scale(1.15);
    }

    img{
        margin: 0 auto;
        width: 130px;
        height: 195px;
    }

    p{
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
        /* border: 1px solid green; */
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
        color: #707070;
    }
}


/* Detail View CSS */

.detailView {
    margin: 25px 0px !important;
    img {
        width: 300;
        height: 450px;
    }

    .column {
        padding: 0 50px !important;
    }
}

.btnCont {
    display: flex;
    margin: 25px 0px;   

    a {
        flex: 0.5;
    }
}
